body {
    background: linear-gradient(to right, rgb(43, 0, 255), rgb(174, 71, 71))
    
}

.title {
    color: white;
}

.header-p{
    color: white;
}

.image {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    
}

img {
    border-radius: 100pt;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.3)
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

#button {
    font-size: 20pt;
    background-color: aliceblue;
    border-radius: 10pt;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: rgba(234, 150, 54, 0.642);
    box-shadow: 4px 4px rgba(128, 128, 128, 0.3)
}

#button:hover {
    background-color: blue;
    color: white;
    
}

.result {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: solid black 2px;
}